/* mobile */
.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* background: rgb(0, 43, 52); */
    color: aliceblue;

}
.boxGame{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.resault{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.textResault{
    font-size: 3rem;
}
.buttonReturn{
    width: 100%;
}
.header{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    margin-right: 8rem;
    margin-left: 2rem;
    margin-top: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    /* color:rgb(241, 231, 225); */
    text-transform: uppercase;
}
.container{
    margin-top: 5px;
    
    display: grid;
    justify-content: center;
    /* align-items: center; */
    grid-template:6rem/repeat(3,6rem);
    gap:5px;
}
.buttonH{
    width: 5rem;
    height: auto;
    margin-top: 1.5rem;
    padding: 0;
    margin-left: 10px;

}

/* mobile */
@media screen and (min-width:600px) {

    .container{
    
    
    grid-template:7rem/repeat(4,7rem);
    
}
.textResault{
    font-size: 3rem;
}

    
    
}
/* tablet */
@media screen and (min-width:800px) {

    .container{
    
    
    grid-template:9rem/repeat(5,9rem);
    
}
.textResault{
    font-size: 6rem;
}

    
    
}

/* laptop */
@media screen and (min-width:1000px) {
    .container{
    
    
        grid-template:11rem/repeat(5,11rem);
    
    }
    .textResault{
    font-size: 10rem;
}
    
    
}