.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 5px;
    border: 1px solid black;
    overflow: hidden;
    background: teal;
    
}
.img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

@media screen and (min-width:600px) {

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 7rem;
        border-radius: 5px;
        border: 1px solid black;
        overflow: hidden;
    
    }
    .img{
        width: 7rem;
        height: 7rem;
        object-fit: cover;
    }
    
}
@media screen and (min-width:800px) {

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9rem;
        height: 9rem;
        border-radius: 5px;
        border: 1px solid black;
        overflow: hidden;
    
    }
    .img{
        width: 9rem;
        height: 9rem;
        object-fit: cover;
    }
    
}
@media screen and (min-width:1000px) {

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11rem;
        height: 11rem;
        border-radius: 5px;
        border: 1px solid black;
        overflow: hidden;
    
    }
    .img{
        width: 11rem;
        height: 11rem;
        object-fit: cover;
    }
    
}